<div>
  <link href="./navbar.css" rel="stylesheet" />
  <div class="navbar-navbar">
    <a href="index.html" class="navbar-navlink">
      <img
        alt="image"
        src="/playground_assets/logo-200h.png"
        class="navbar-image"
      />
    </a>
    <div class="navbar-links-container">
      <a href="index.html" class="navbar-link Navbar-Link"><span>Home</span></a>
      <a href="all-recipes.html" class="navbar-link1 Navbar-Link">
        <span>All Recipes</span>
      </a>
    </div>
    <div data-role="BurgerMenu" class="navbar-burger-menu">
      <svg viewBox="0 0 1024 1024" class="navbar-icon">
        <path
          d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
        ></path>
      </svg>
    </div>
    <div data-role="MobileMenu" class="navbar-mobile-menu">
      <div class="navbar-container">
        <span class="Card-Heading navbar-heading"><span>Logo</span></span>
        <div data-role="CloseMobileMenu" class="navbar-close-menu">
          <svg viewBox="0 0 1024 1024" class="navbar-icon2">
            <path
              d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="navbar-links-container1">
        <span class="navbar-link2 Navbar-Link"><span>About</span></span>
        <span class="navbar-link3 Navbar-Link"><span>Experience</span></span>
        <span class="navbar-link4 Navbar-Link"><span>Portofolio</span></span>
        <span class="Navbar-Link"><span>Contact</span></span>
      </div>
    </div>
  </div>
</div>
